@using Aafp.Events.Admin.ApplicationConfig
@model Aafp.Events.Admin.ViewModels.Registration.CustomerSearchViewModel

@{
    ViewBag.Title = $"Find \"{Model.UserSearch.SearchTerm}\" | Quick Reg Wizard";
}

@Html.Partial("_UserSearchBarHeader", Model.UserSearch)

@Html.HiddenFor(model => model.UserSearch.SearchTerm)

<!-- Search Results -->
<div class="layout">
    <section class="qr-results">
        @if (Model.HasError)
        {
            @Html.Partial("_Error", Model.ErrorMessage)
        }
        else
        {
            if (Model.Results.Count <= 0)
            {
                <div class="alert-box -info">
                    <!-- No results -->
                    <div class="alert-box__icon">
                        <span class="fa fa-support fa-2x -white"></span>
                    </div>
                    <div class="alert-box__content">
                        <h3>Nobody found</h3>
                        <p>Please try your search again with less specificity.</p>
                    </div>
                </div>
            }

            foreach (var item in Model.Results)
            {
                <div class="qr-result js-accordion -is-collapsed">
                    <header class="qr-result-header js-accordion__trigger">
                        <div class="qr-result-header__name">@item.NameDisplay</div>
                        <div class="qr-result-header__addr">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> @Html.Raw(item.AddressCityStateDisplay)
                        </div>
                        <div class="qr-result-header__id">
                            <i class="fa fa-user" aria-hidden="true"></i> @item.CstId
                        </div>
                        <div class="qr-result-header__toggle-indicator">
                            <i class="fa fa-chevron-down js-accordion__indicator" aria-hidden="true"></i>
                        </div>
                    </header>
                    <div class="js-accordion__content" style="display: none;">
                        <div class="qr-result__sub-head">
                            <div class="qr-result__primary-email">
                                <label class="qr-input__label">Primary Email</label>
                                @*<span>first-name_last-name@email.com</span>*@
                                <span>@item.Email</span>
                            </div>
                            @*<div class="qr-result__mobile-phone">
                                <label class="qr-input__label">Mobile Phone</label>
                                <span>391-382-1939</span>
                            </div>*@
                            <div class="qr-result__home-address">
                                <label class="qr-input__label">Home Address</label>
                                @*<span>3583 Whatever Dr. <br />Nashville, TN 43215-3821</span>*@
                                <span>@Html.Raw(@item.AddressDisplay)</span>
                            </div>
                            <div class="qr-result__new-event">
                                <button class="btn -size-sm -color-blue" data-cstkey="@item.CustomerKey" data-name="@item.FullName" id="@($"{item.CstId}AddEventButton")"><i class="fa fa-plus"></i> New Event</button>
                            </div>
                        </div>
                        <div class="qr-result-events">
                            @foreach (var eventItem in item.Events)
                            {
                                eventItem.SearchTerm = Model.UserSearch.SearchTerm;
                                @Html.Partial("_SearchResult", eventItem, new ViewDataDictionary {{"customerEmail", item.Email}})
                            }
                        </div>
                    </div>
                </div>
            }

            if (Model.Results.Count >= 50)
            {
                <div class="alert-box -warning">
                    <!-- Too many results -->
                    <div class="alert-box__icon">
                        <span class="fa fa-support fa-2x -white"></span>
                    </div>
                    <a href="#" class="js-jumpToTop back-to-top"><i class="fa fa-mail-forward fa-rotate-270"></i> Back to Top</a>
                    <div class="alert-box__content">
                        <h3>Too many results</h3>
                        <p>Please refine your search terms to be more specific.</p>
                    </div>
                </div>
            }
        }
        <a href="@($"{ApplicationConfigManager.Settings.BaseUrl}iweb")" target="_blank" class="btn -color-light -position-right"><i class="fa fa-plus"></i> Add New Customer Record</a>

        <!-- Alerts related to remove pending registrations -->
        @if (Model.Status == "Successful")
        {
            <div class="qr-notify -theme-success -js-pendingRegistrationAlert--success">
                <span class="qr-notify__icon">
                <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
            </span>
                <span class="qr-notify__title">Removed Successfully</span>
                <p class="qr-notify__desc">Pending registration was successfully removed.</p>
            </div>
        }

        @if (Model.Status == "Unsuccessful")
        {
            <div class="qr-notify -theme-error -js-pendingRegistrationAlert--error">
                <span class="qr-notify__icon">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </span>
                <span class="qr-notify__title">Error</span>
                <p class="qr-notify__desc">There was an error removing your pending registration. Please try again and then call Janet Chou at x4187.</p>
            </div>
        }

    </section>
</div>

@if (!Model.HasError)
{
    <div id="addEventDialog">
        <input type="hidden" id="addEventCustomerKey"/>
        <div class="qr-input">
            <label class="qr-input__label">Select Event</label>
            @Html.DropDownListFor(model => model.EventToAddKey, new SelectList(Model.Events, "Key", "TitleDisplay", Guid.Empty), "--Select Event--", new {@class = "qr-input__label"})
        </div>
        <div id="newEventDetail"></div>
        <div id="addNewEventError"></div>
        <a class="qr-add-modal__btn" id="addNewEventButton" style="display: none" href="#"><i class="fa fa-floppy-o"></i> Add Event</a>
        <a class="qr-add-modal__btn" href="#" id="saveNewEvent" style="display: none"><i class="fa fa-spin fa-spinner"></i> Adding</a>
    </div>
    <div id="printDialog"></div>
    <div id="emailDialog"></div>
}



<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
@Scripts.Render("~/bundles/search-results-js")