@using Aafp.Events.Web.ApplicationConfig
@using Aafp.Events.Web.Helpers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if lt IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie11 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie11 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 10]><html class="no-js lt-ie11" lang="en"> <!--<![endif]-->
<!--[if gt IE 10]><html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta content="text/html; charset=UTF-8" name="content-type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport" id="view">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="category" content="Events" />
    <meta name="access-restricted" content="True" />
    <meta name="robots" content="noindex, noarchive, nofollow" />
    <link type="text/css" href="@SyndicationHelper.GetCssSyndicationLink("event-registration/style.css")" rel="stylesheet">
    <link href="//img.aafp.net/icons/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="//img.aafp.net/icons/favicons/apple-touch-icon-114by114.png" sizes="114×114" rel="apple-touch-icon">
    <link href="//img.aafp.net/icons/favicons/apple-touch-icon-72by72.png" sizes="72×72" rel="apple-touch-icon">
    <link href="//img.aafp.net/icons/favicons/touch-icon-iphone.png" rel="apple-touch-icon">
    <title>@ViewBag.Title | Event Registration</title>
    <script type="text/javascript" src="@SyndicationHelper.GetJsSyndicationLink("JavaScriptFinal.js")"></script>
    <script language="JavaScript" type="text/javascript" src="@ApplicationConfigManager.Settings.OmnitureUrl"></script>
</head>
<body id="@Html.Raw(ViewBag.PageID)" class="site-aafp section-event-registration is-signed-in template-standard layout-full @Html.Raw(ViewBag.BodyClass)" >
    @Html.Raw(ViewBag.Header)
    <div id="main" class="main-content" role="main">
        <div class="block-drop-shadow twelve-column extra-width float-left no-gutter">
            @RenderBody()
        </div>
    </div>
    @Html.Raw(ViewBag.Footer)
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
</body>

</html>