@model Aafp.Events.Admin.ViewModels.Registration.HeadingViewModel


<section class="qr-step @(Model.RequiredFlag ? "qr-step--required" : "")" id="@Model.Key">

    <h3 class="qr-step__title">@Model.HeadingDescription
        @if (Model.RequiredFlag)
        {
            <span class="qr-step__title-required">* Required</span>
        }
    </h3>
    <p class="qr-step__desc">@Html.Raw(Model.HeadingHeading)</p>
    @Html.HiddenFor(model => model.HeadingDescription)

    @if (Model.Sessions.Count > 0)
    {
        if (Model.Sessions.All(x => x.SessionTypeCode != "Guest Badge"))
        {
            <table id="step1Table" class="qr-table">
                <thead>
                    <tr class="qr-table__head">
                        <th class="qr-table__head-cell">No.</th>
                        <th class="qr-table__head-cell">Title</th>
                        <th class="qr-table__head-cell">Date &amp; Time</th>
                        <th class="qr-table__head-cell">Fee</th>
                        <th class="qr-table__head-cell">Cap.</th>
                        <th class="qr-table__head-cell qr-table__enroll"><label><i class="fa fa-check-square-o fa-2x"></i></label></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.Sessions)
                </tbody>
            </table>
        }
        else
        {
            @Html.EditorFor(model => model.Sessions)
        }
    }
</section>