@using System.Diagnostics.Eventing.Reader
@using System.Web.Optimization
@using Aafp.Events.Web.ApplicationConfig
@model Aafp.Events.Web.ViewModels.RegistrationConfirmationViewModel

@{
    ViewBag.Title = "Confirmation";
    ViewBag.BodyClass = $"event-{Model.Event.Code}";
    ViewBag.PageID = "page-event-confirmation";
    ViewBag.Header = @Html.Partial("_HeaderAdvanced");
    ViewBag.Footer = @Html.Partial("_FooterAdvanced");
}

@Html.HiddenFor(model => model.RegistrationKey)
<section class="extra-width no-gutter white-background twelve-column">
    <hgroup class="horizontal-gradient">
        <h1 class="horizontal-gradient">@Model.Event.Title - @Model.Event.Code</h1>
        <h3 class="title-deck">Registration Details</h3>
    </hgroup>
    <div class="gridcolparsys">
        @if (Model.Status == "Updated")
            {
            <div id="regSuccess" class="alert-box -success block full">
                <div class="alert-box__icon"><span id="regSuccessIcon" class="fa fa-check-circle fa-2x -white"></span></div>
                <div class="alert-box__close -js-reg-success">
                    <script>$(".-js-reg-success").click(function() { $("#regSuccess").hide(); });</script>
                </div>
                <div class="alert-box__content">
                    <p id="regSuccessContent">
                        @if (Model.Status == "Updated")
                        {
                            <span>Registration updated: Good news! You have successfully updated your registration for @Model.Event.Title. A confirmation email has been sent to @Model.Customer.Email.</span>
                        }
                    </p>
                </div>
            </div>
        }
        else if (Model.Status == "NoChange")
        {
            <div id="regNoChanges" class="alert-box -info block full">
                <div class="alert-box__icon"><span class="fa fa-exclamation-circle fa-2x -white"></span></div>
                <div class="alert-box__close -js-no-changes-alert">
                    <script>
                            $(".-js-no-changes-alert").click(function() { $("#regNoChanges").hide(); });
                    </script>
                </div>
                <div class="alert-box__content">
                    <h4>No Changes Detected</h4>
                    <p class="sample-confirmation__text">Sorry, it looks like you haven't made any changes to your registration. Please attempt your changes again or contact the AAFP Member Resource Center at (800) 274-2237. </p>
                </div>
            </div>
        }
        <div class="@(!string.IsNullOrWhiteSpace(Model.Event.HousingDiscountCode) || !string.IsNullOrWhiteSpace(Model.Event.HousingUrl) ? "sample-confirmation six-column" : "full")  block alpha">
            <h2 class="underlined">Confirmation &amp; Receipt</h2>
            <p class="sample-confirmation__text">You are registered for @Model.Event.Title.</p>
            <h4 class="sample-confirmation__name">@Model.Customer.FullName</h4>
            <p class="sample-confirmation__email">@Model.Customer.Email</p>
            <p class="sample-confirmation__number">Confirmation numbers: #@Model.InvoiceCode</p>
            @if (!string.IsNullOrWhiteSpace(Model.Customer.Email))
            {
                <div class="sample-confirmation__resend-button">
                    <button class="button button-tertiary" href="#" id="emailConfirmation" data-wa-click="resend email confirmation">Resend Email Confirmation</button>
                    <button class="button -state-disabled" href="#" id="sendingEmailButton" style="display: none"><i class="fa fa-spin fa-spinner"></i> Sending</button>
                </div>
            }
            <div class="sample-confirmation__view-print-button">
                <button class="button button-tertiary" id="receiptButton" data-url="@Model.InvoiceUrl" data-wa-click="view print receipt">View/Print Receipt</button>
            </div>
            <div id="emailWarning" class="alert-box" style="display: none;">
                <div class="alert-box__icon"><span id="emailWarningIcon" class="fa fa-exclamation-circle fa-2x -white"></span></div>
                <div class="alert-box__close -js-email-warning">
                    <script>
                        $(".-js-email-warning").click(function() { $("#emailWarning").hide(); });
                    </script>
                </div>
                <div class="alert-box__content">
                    <p id="emailWarningContent"><!-- content of message --></p>
                </div>
            </div>
        </div>
        <!-- Housing -->
        @if (!string.IsNullOrWhiteSpace(Model.Event.HousingDiscountCode) || !string.IsNullOrWhiteSpace(Model.Event.HousingUrl))
        {
            <div class="book-hotel block six-column omega">
                <div class="book-hotel__calloutbox calloutbox">
                    <div class="book-hotel__calloutbox-center calloutbox-center highlights">
                        <div class="book-hotel__container container tertiary">
                            <!-- see color variable -->
                            <img class="book-hotel__calloutbox-image" src="@Url.Content("~/Content/Images/hotel.png")" alt="">
                            <h4 class="book-hotel__cob-title cob-title">Book Your Hotel</h4>
                            <div class="book-hotel__content content">
                                <div class="par parsys">
                                    <div class="text parbase section">
                                        <p class="book-hotel__content">@Model.Event.HousingDescription</p>
                                        @if (!string.IsNullOrWhiteSpace(Model.Event.HousingDiscountCode))
                                        {
                                            <p class="book-hotel__discount">Discount Code: @Model.Event.HousingDiscountCode</p>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.Event.HousingUrl))
                                        {
                                            <div class="book-hotel__book-button">
                                                <button id="housingButton" data-url="@Model.Event.HousingUrl" class="button button-tertiary" data-wa-click="book hotel now">Book Hotel Now</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Marketing Text -->
        @if (!string.IsNullOrWhiteSpace(@Model.Event.MarketingMessage))
        {
            <div class="marketing-text block six-column alpha">
                <h2 class="underlined">Before You Go!</h2>
                <div class="marketing-text__block">
                    <div class="marketing-text__text shim -mobile-padding">@Html.Raw(Model.Event.MarketingMessage)</div>
                </div>
            </div>
        }
        <!-- Attendee Comments -->
        <div class="@(!string.IsNullOrWhiteSpace(@Model.Event.MarketingMessage) ? "six-column" : "full") attendee-comments block omega">
            <h2 class="underlined">Your Feedback Is Helpful</h2>
            @if (string.IsNullOrWhiteSpace(Model.Comment))
            {
                <p>Please provide any comments or questions you have regarding our registration process.</p>
                <label>Comments / Questions</label>
                @Html.TextAreaFor(model => model.Comment, new { @class = "attendee-comments__text-area full" })
                <div class="attendee-comments__button">
                    <button id="saveCommentsButton" class="button button-tertiary" data-wa-click="send comments">Send Comments</button>
                    <button class="button -state-disabled" href="#" id="savingCommentsButton" style="display: none"><i class="fa fa-spin fa-spinner"></i> Sending</button>
                    <p id="commentsWarning" class="attendee-comments__text-bold" style="display: none;"></p>
                </div>
            }
            else
            {
                <p>Thank you for your feedback.</p>
                <label>Comments / Questions</label>
                <textarea class="attendee-comments__text-area full" disabled="disabled">@Html.DisplayFor(model => model.Comment)</textarea>
                <p class="clear-left">
                    To provide additional comments or questions please contact us at <a href="mailto:aafp@aafp.org">aafp@aafp.org</a> or <a href="tel:800-274-2237">800-274-2237</a>.
                </p>
            }
        </div>

        <!-- My Information -->
        @Html.Partial("_ContactInformation", Model)

        <!-- Payment Summary -->
        <div class="payment block full">
            <h2 class="payment__title underlined">
                Summary
            </h2>
            <table class="table payment__table tables parbase">
                <thead>
                    <tr class="payment__table-head">
                        <th class="payment__table-head-cell">-</th>
                        <th class="payment__table-head-cell">TITLE</th>
                        <th class="payment__table-head-cell">Time</th>
                        <th class="payment__table-head-cell">QTY</th>
                        <th class="payment__table-head-cell">COST</th>
                        <th class="payment__table-head-cell">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="payment__table-row-event payment__table-mobile-card">
                        <td class="payment__table-body-cell payment__table-num"></td>
                        <td class="payment__table-body-cell payment__table-title">@Model.Fee.ProductName</td>
                        <td class="payment__table-body-cell payment__table-time">@Html.Raw(Model.Event.DateDisplay)</td>
                        <td class="payment__table-body-cell payment__table-qty"><span class="table-head-mobile th-4">QTY: </span>1</td>
                        <td class="payment__table-body-cell payment__table-cost">@Model.Fee.Price.ToString("C")</td>
                        <td class="payment__table-body-cell payment__table-total">@Model.Fee.Price.ToString("C")</td>
                    </tr>
                    @foreach (var session in Model.Sessions.OrderByDescending(x => x.Code).Reverse())
                    {
                        <tr class="payment__table-row-event payment__table-mobile-card">
                            <td class="payment__table-body-cell payment__table-num">@session.Code</td>
                            <td class="payment__table-body-cell payment__table-title">@session.Title</td>
                            <td class="payment__table-body-cell payment__table-time">@Html.Raw(session.DateTimeDisplay)</td>
                            <td class="payment__table-body-cell payment__table-qty"><span class="table-head-mobile th-4">QTY: </span>@session.SelectedQuantity</td>
                            <td class="payment__table-body-cell payment__table-cost">@session.Fee.PriceDisplay</td>
                            <td class="payment__table-body-cell payment__table-total">@((session.SelectedQuantity * session.Fee.Price).ToString("C"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot class="payment__table-footer">
                    @if (Model.DiscountAmount > 0)
                    {
                        <tr class="payment__table-footer-row-summary-first">
                            <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                            <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                            <td class="payment__table-foot-cell -footer-label">
                                Subtotal
                            </td>
                            <td id="subtotalTableCell" class="payment__table-foot-cell -numbers  -font-l">
                                @Model.SubTotal.ToString("C")
                            </td>
                        </tr>
                        <tr class="payment__table-footer-row">
                            <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                            <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                            <td class="payment__table-foot-cell -footer-label">
                                Discount
                            </td>
                            <td class="payment__table-discount payment__table-foot-cell -numbers  -font-l -color-red">
                                <span id="discountAmount">@Model.DiscountAmount.ToString("C")</span>
                            </td>
                        </tr>
                    }
                    <tr class="payment__table-footer-row">
                        <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                        <td colspan="2" class="payment__table-empty payment__table-foot-cell"></td>
                        <td class="payment__table-foot-cell -footer-label -font-xl">
                            Total
                        </td>
                        <td id="totalTableCell" class="payment__table-foot-cell -numbers  -font-xl js-paymentTotal">
                            @Model.Total.ToString("C")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clearfix"></div>
        <!-- Edit Information -->
        <div class="no-margin block full train--cars-@Model.Event.Steps.Count">
            <h2 class="edit__title underlined">
                Edit My Registration
            </h2>
            @if (Model.Event.RemoveFromWebDate > Model.Date)
            {
                <p class="train--desc">
                    Make changes to your registration by adding additional activities, changing your opt-in preferences, and more below. <br /> Items you may change include:
                </p>
                <div class="train">
                    @foreach (var step in Model.Event.Steps)
                    {
                        <div class="train__car">
                            <h3 class="train__title">@step.StepDescription</h3>
                            <ul class="train__list">
                                @foreach (var heading in step.Headings)
                                {
                                    <li>@heading.HeadingDescription</li>
                                }
                            </ul>
                        </div>
                        if (Model.Event.Steps.IndexOf(step) == (Model.Event.Steps.Count - 1))
                        {
                            continue;
                        }
                        <div class="train__coupler">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    }
                </div>
                <div style="text-align: center;">
                    <button id="editSessionsButton" class="button button-secondary large" style="width: 40%; min-width: 250px;" data-wa-click="edit sessions">Edit My Registration *</button>
                </div>
                <p class="shim margin-bottom-half margin-top-half text-align-center">
                    * Please Note: To make any <a href="http://www.aafp.org/cmecancellations/" target="_blank" title="Cancellation Policy">cancellations</a> please call the AAFP Member Resource Center at 800-274-2237.
                </p>
            }
            else
            {
                <!-- Closed Registration -->
                <div class="clearfix"></div>
                <div class="alert-box -info">
                    <div class="alert-box__icon"><span class="fa fa-exclamation-circle fa-2x -white"></span></div>
                    <div class="alert-box__content">
                        <p>Please note: Online editing for this event is no longer available. To make changes to your information or registration, please contact the member resource center at (800) 274-2237. </p>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
            @if (Model.RelatedRegistrations.Count > 0)
            {
    <!-- Related Registrations -->
                <div class="no-margin block full session__table">
                    <h2 class="underlined">Related Registration@(Model.RelatedRegistrations.Count > 1 ? "s" : "")</h2>
                    <p>
                        You also registred for the following related events
                    </p>
                    <table width="100%" class="tables parbase">
                        <thead>
                            <tr class="session__table-head">
                                <th class="session__head-cells">TITLE</th>
                                <th class="session__head-cells">EVENT DATES</th>
                                <th class="session__head-cells">DETAILS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var relatedRegistration in Model.RelatedRegistrations)
                            {
                                <tr class="session__table-content">
                                    <td class="session__table-content-title"><a href="/events/registration/confirmation/@relatedRegistration.Key">@relatedRegistration.Event.Title</a></td>
                                    <td class="session__table-content-time">@relatedRegistration.Event.DateDisplay</td>
                                    <td class="session__table-content-add"><a class="button button-tertiary " href="/events/registration/confirmation/@relatedRegistration.Key">Details</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            }
        </div>
</section>

@Scripts.Render("~/bundles/confirmation-js")
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 984326491;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "XmBACPWYkwcQ28Ku1QM";
    var google_conversion_value = @Model.Total.ToString("N");
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
    <div style="display: inline">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/984326491/?label=XmBACPWYkwcQ28Ku1QM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

@*Site Catalyst Code Only*@
<script type="text/javascript" src="@ApplicationConfigManager.Settings.OmnitureUrl"></script>
<script type="text/javascript">
    var pageTitle = $(".title-deck").text();
    var eventTitle = "@Model.Event.Title";

    s.pageName = "events:registration:" + eventTitle.substring(0, 40) + ":" + pageTitle.toLowerCase();
    s.referrer = document.referrer;

    s.prop1 = pageTitle;
    s.prop3 = "main";
    s.prop17 = "member";
    s.prop18 = "web";
    s.prop40 = "meetings";
    s.prop41 = "sell meetings";
    s.prop42 = "nf";

    s.eVar1 = eventTitle;

    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t(); if (s_code) document.write(s_code);  //
</script>