
@* Generator: Template
    GeneratePrettyNames: true
    GenerateAbsolutePathLinePragmas: true
*@

@using Aafp.Cme.Api

@functions {
    public dynamic Model { get; set; }
}

<div id="cmeNumericStatsDiv">
    <div class="mini-dashboard">
        <h1 class="mini-dashboard__title mini-dashboard--hidable"><a href="@($"{ApplicationConfig.BaseUrl}/my-cme/")">My Quizzes and Courses</a></h1>
        <div class="mini-dashboard__wrapper">
            <div class="mini-dashboard__data dashboard-numeric">
                <span class="dashboard-numeric__numeral">@Model.CreditAvailableInfo.CreditsExpiring</span>
                <span class="dashboard-numeric__units">credits</span>
                <a id="js-stats-all" href="@($"{ApplicationConfig.BaseUrl}/my-cme/#all")" class="dashboard-numeric__desc">expiring soon</a>
            </div>
            <div class="mini-dashboard__data dashboard-numeric">
                <span class="dashboard-numeric__numeral">@Model.CreditAvailableInfo.CreditsPurchased</span>
                <span class="dashboard-numeric__units">credits of</span>
                <a id="js-stats-purchased" href="@($"{ApplicationConfig.BaseUrl}/my-cme/#purchased")" class="dashboard-numeric__desc">purchases available</a>
            </div>
            <div class="mini-dashboard__data dashboard-numeric mini-dashboard--hidable">
                <span class="dashboard-numeric__numeral">@Model.CreditAvailableInfo.QuizzesAvailable</span>
                <span class="dashboard-numeric__units">credits of</span>
                <a id="js-stats-subscriptions" href="@($"{ApplicationConfig.BaseUrl}/my-cme/#subscriptions")" class="dashboard-numeric__desc">quizzes available</a>
            </div>
        </div>
    </div>
</div>
<div id="reElectionStatusDiv">
    <div class="mini-dashboard mini-dashboard--mobile-hide">
        @if (Model.ReElectionInfo.IsMember)
        {
            <h1 class="mini-dashboard__title">My Membership Status</h1>
        }
        else
        {
            <h1 class="mini-dashboard__title">CME Information</h1>
        }
        <div class="mini-dashboard__wrapper">
            @if (Model.ReElectionInfo.IsMember)
            {
                <div class="mini-dashboard__data dashboard-alpha">
                    <a class="dashboard-alpha__label" id="js-re-election-status" href="@($"{ApplicationConfig.BaseUrl}/cme/reporting")">Re-Election status</a>
                    <span class="dashboard-alpha__value dashboard-alpha__value--@Model.ReElectionInfo.StatusDisplay">@Model.ReElectionInfo.Message</span>
                </div>
            }
            <div class="mini-dashboard__data dashboard-alpha">
                @if (Model.ReElectionInfo.IsMember)
                {
                    <a href="@($"{ApplicationConfig.BaseUrl}/cme/reporting/claimcredit.aspx")" class="dashboard-alpha__button button button-secondary" id="js-report-cme">Report CME</a>
                    <a href="@($"{ApplicationConfig.BaseUrl}/cme/reporting/transcript.aspx")" class="dashboard-alpha__button button button-secondary" id="js-view-transcript">View Transcript</a>
                }
                else
                {
                    <a href="@($"{ApplicationConfig.BaseUrl}/cme/reporting/nonmemberparticipation.aspx")" class="dashboard-alpha__button large button button-secondary" id="js-letters-of-participation">Letters of Participation</a>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $("#js-stats-all").click(function () {
            clickCMEEvent("my cme - expiring soon");
        });

        $("#js-stats-purchased").click(function () {
            clickCMEEvent("my cme - purchases available");
        });

        $("#js-stats-subscriptions").click(function () {
            clickCMEEvent("my cme - quizzes available");
        });

        $("#js-report-cme").click(function () {
            clickCMEEvent("my cme – report CME");
        });

        $("#js-view-transcript").click(function () {
            clickCMEEvent("my cme – view transcript");
        });

        /*$("#js-letters-of-participation").unbind("click").click(function () {
            clickCMEEvent("my cme – letters of participation");
        });*/

        $("#js-letters-of-participation, #js-report-cme, #js-view-transcript").dblclick(function (event) {
            event.preventDefault();
        });

        $("#js-re-election-status").click(function () {
            clickCMEEvent("my cme - reelection status");
        });
    });

    function clickCMEEvent(title) {
        try {
            if (title && "" != title) {
                var s = s_gi(s_account);
                s.eVar26 = title;
                s.events = 'event26';
                //Track eVar & Event
                s.linkTrackVars = "events,eVar26"
                s.linkTrackEvents = "event26"
                s.tl(this, 'o', s.pageName + ":" + s.eVar26);
            }
        } catch (e) {
            //console.log("Error setting SC: " + e);
        }
    }
</script>